body {
    padding: 0;
    background-image: url(https://bing.biturl.top/?resolution=3840&format=image&index=0&mkt=zh-CN);
    background-size: 120%;
}

.bgtext {
    position: absolute;
    bottom: 0px;
    font-size: 0.8em;
    left: 0;
    right: 0;
    text-align: center;
    font-family: '等线','仿宋';
    text-shadow: 1px 1px 1px gray;
}